---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import "../base.css";
const { id } = Astro.params;
console.log(id);
---

<Layout title="Welcome to Kitchen">
  <main class="">
    <h1 class="text-4xl font-bold">
      <span class="text-gradient">Search Recipe</span>
    </h1>

    <form class="grid gap-4">
      <input
        placeholder="What do you want to Cook?"
        id="query"
        name="query"
        class="p-2 mt-3 w-full"
      />
      <button id="btn" class="px-3 py-1 w-fit ml-auto">Submit</button>
    </form>

    <ul id="link-card-grid" role="list" class="link-card-grid mt-3"></ul>

    <div
      id="popup-wrapper"
      class="h-screen hidden border-4 border-red-500 bg-gray-700 place-content-center bg-opacity-50 w-screen fixed inset-0"
    >
    </div>
  </main>
</Layout>

<script>
  import axios from "axios";

  var inputs = document.getElementById("query") as HTMLInputElement;
  var btn = document.getElementById("btn") as HTMLButtonElement;
  var card_list = document.getElementById("link-card-grid") as HTMLUListElement;
  var popup_Wrapper = document.getElementById(
    "popup-wrapper"
  ) as HTMLDivElement;
  var ing_list = document.getElementById("ingredient-list") as HTMLUListElement;

  btn.addEventListener("click", (e) => {
    e.preventDefault();

    var dishName = "burger";
    card_list.innerHTML = "";
    console.log(btn, inputs.value);
    if (inputs.value) {
      var dishName = inputs.value;
      axios
        .get(
          `https://api.edamam.com/search?q=${dishName}&app_id=e53f4710&app_key=1c1612f126ead10d287f5211319dea45`
        )
        .then(function (res) {
          const data = res.data;
          const recipes = data.hits;

          recipes.forEach((element) => {
            const { recipe } = element;
            console.log(recipe);

            const li = document.createElement("li");

            const card = `
                    <a href="/" class="cursor-pointer">
                      <img
                        class="h-48 w-full border-2 bg-slate-400"
                        src="${recipe.image}"
                        alt="mockup"
                      />
                      <h1 class="text-xl capitalize font-semibold">${recipe.label}</h1>
                      <div class="flex justify-between">
                        <h4 class="capitalize">${recipe.cuisineType}</h4>
                        <h5 class="capitalize">${recipe.dishType[0]}</h5>
                      </div>
                    </a>                   
                    `;
            li.innerHTML = card;
            card_list.append(li);
          });
        });
    }
  });

  window.addEventListener("load", () => {
    var dishName = "burger";
    const currIndex = 0;
    axios
      .get(
        `https://api.edamam.com/search?q=${dishName}&app_id=e53f4710&app_key=1c1612f126ead10d287f5211319dea45`
      )
      .then(function (res) {
        const data = res.data;
        const recipes = data.hits;
        console.log(recipes);

        recipes.forEach((element, index) => {
          const { recipe } = element;

          const li = document.createElement("li");
          const card = `<div class="cursor-pointer recipe-cards">
                      <img
                        class="h-48 w-full border-2 bg-slate-400"
                        src="${recipe.image}"
                        alt="mockup"
                      />
                      <h1 class="text-xl capitalize font-semibold">${recipe.label}</h1>
                      <div class="flex justify-between">
                        <h4 class="capitalize">${recipe.cuisineType}</h4>
                        <h5 class="capitalize">${recipe.dishType[0]}</h5>
                      </div>
                    </div>`;
          li.innerHTML = card;
          card_list.append(li);

          const recipeCards = document.querySelectorAll(".recipe-cards");

          recipeCards.forEach((item, index) => {
            document.addEventListener("click", (item) => {
              const popup = `
                        <div class="bg-white rounded-md p-4">
                          <div class="ingredients">
                            <h3 class="text-xl">Ingredients</h3>
                            <ul id="ingredient-list">
                              
                            </ul>
                          </div>
                        </div>`;

              popup_Wrapper.style.display = "grid";
              popup_Wrapper.innerHTML = popup;

              const ing_list = document.querySelector(
                "#ingredient-list"
              ) as HTMLUListElement;
              
              const ing = recipe.ingredients;
              
              ing.map((item, index) => {
                const lis = document.createElement("li");
                ing_list.appendChild(lis);
                lis.innerHTML= `<li>${item.text}</li>`;
              });
              console.log(ing, "ingredient");
            });
          });
        });
      });
  });
</script>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  input {
    border-radius: 8px;
    border: 1px solid rgb(124, 58, 237);
    color: rgb(124, 58, 237);
  }
  button {
    border-radius: 8px;
    border: 1px solid rgb(124, 58, 237);
    color: rgb(124, 58, 237);
  }
  input:focus {
    outline: 1px solid rgb(124, 58, 237);
  }

  h1 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
